body {
    background-color: #000099;
}

h1,li,form{
    text-align : center;
}

h1 {
    color : white;
    font-family : 'Helvetica';
}

li {
    background-color: white;
    font-family : 'Arial';
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
}

form{
    padding-top: 10px;
    padding-bottom: 10px;
}


input[type=text]{
    border-radius: 3px;
}

input[type=submit]{
    border-radius: 8px;
}